# BT2101 Introduction to Numpy and Pandas
## Goal: Understanding how to do data cleaning in python
### Reference Book: "Python for Data Analysis"
Note: The codes and datasets for this reference book is released [here](https://resources.oreilly.com/examples/0636920023784/).
![alt text](https://covers.oreillystatic.com/images/0636920023784/lrg.jpg "book.jpg")

## Section 1. Install Numpy and Pandas
* Go to the links for [numpy](http://www.numpy.org/) and [pandas](https://pandas.pydata.org/)
* Follow the instructions and install the packages
* Import two packages

In [ ]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

# Import
import numpy as np
import pandas as pd
from __future__ import division

## Section 2. Simple Guide on Numpy

### 2.1 1D Array
* Transform list to Numpy array
* Indexing and Slicing
* Basic Operations
* Some Functions

In [ ]:
# Transform List to Numpy Array
a = [1, 3, 9]
A = np.array(a)

print "List a: ", a, type(a)
print "Array A: ", A, type(A)

In [ ]:
# Explore Attributes of Numpy Array
print "Data type of array A: ", A.dtype
print "Size of array A: ", A.size
print "Dimension of array A: ", A.ndim
print "Shape of array A: ", A.shape

In [ ]:
b = [1.1, 2.3, 4.5, 5.1, 7.9]
B = np.array(b)

print "Data type of array B: ", B.dtype
print "Size of array B: ", B.size
print "Dimension of array B: ", B.ndim
print "Shape of array B: ", B.shape

In [ ]:
# Indexing and Slicing
print "The 1st element of Array A is: ", A[0]
print "The 3rd element of Array B is: ", B[4]

print "Get a slice of Array B: ", B[1:3]

# Change Values
A[1] = 10
print "The new Array A is: ", A

In [ ]:
# Basic Operations
u = np.array([1,3,5])
v = np.array([2,4,6])
z1 = u + v
z2 = 2 * u
z3 = u * v
z4 = np.dot(u, v)
z5 = v + 1

print "u + v = ", z1
print "2 * u = ", z2
print "u * v = ", z3
print "Dot product of u and v is: ", z4
print "v + 1 = ", z5
print "Mean of u is: ", u.mean()
print "Mean of v is: ", v.mean()
print "Maximum value of u is: ", u.max()
print "Maximum value of v is: ", v.max()

In [ ]:
# Some Functions
c = np.array([1, np.pi, np.pi/2])
sin_c = np.sin(c)

print "Sin of c is: ", sin_c

# Generate a sequence of 5 numbers from -2 to 2
print np.linspace(-2, 2, 5)

# Generate a sequence from 1 to 20
print np.arange(21)

In [ ]:
# Simple Visualization using matplotlib
# Note: Do not forget installing "matplotlib" package before import it
import matplotlib.pyplot as plt
%matplotlib inline

# Generate a sequence of 100 numbers
x = np.linspace(0, 2*np.pi, 100)
y = np.sin(x)
plt.xlabel("x")
plt.ylabel("y")
plt.grid()
plt.plot(x, y)

### 2.2 2D Array
* Transform list to Numpy array
* Indexing and Slicing
* Basic Operation

In [ ]:
# Transform List to 2D Array
A = np.array([[10, 11, 12, 13], [20, 21, 22, 23], [30, 31, 32, 33]])

print "Size of Array A: ", A.size
print "Dimension of Array A: ", A.ndim
print "Shape of Array A: ", A.shape

In [ ]:
# Indexing and Slicing
print "The element of Row 1 Column 3 is: ", A[0][2]
print "The element of Row 3 Column 4 is: ", A[2][3]

print "The elements of Row 2, 3 and Column 4: ", A[1:3, 3]

In [ ]:
# Basic Operations
X = np.array([[11, 12], [21, 22]])
Y = np.array([[1, 3], [2, 4]])

print "X + Y = ", X + Y
print "2 * X = ", 2 * X
print "X * Y = ", X * Y
print "2D Array multiplication: XY = ", np.dot(X, Y)
print "Transpose of 2D Array is: ", X.T

In [ ]:
# Some Functions
from numpy.random import randn

# Generate a 2D Array with elements drawn from N(0, 1)
print randn(2 ,3)

# Generate 2D Array with Dimension (3, 4) and elements all zero
print np.zeros((3,4))

# Functions: Mean, Sum, Max, Min, ..., etc.
arr = randn(5, 4) # normally-distributed data
print "arr is: ", arr
print arr.mean()
print np.mean(arr)
print arr.sum()
print arr.mean(axis=1)
print arr.sum(0)

Note: More numpy functions can be found at https://docs.scipy.org/doc/numpy-1.14.5/reference/

### 2.3 Matrix

* Transform list and Array to Numpy Matrix
* Basic Operation

In [ ]:
# Transform List and Array to Matrix
a = [[4,7],[2,6]]
A = np.array(a)
mat_A = np.mat(A)

print "List: ", a
print "Array: ", A
print "Matrix: ", mat_A

In [ ]:
# Basic functions of Matrix
print "Transpose Matrix: ", mat_A.T
print "Inverse Matrix: ", mat_A.I

## Section 3. Working with Data in Pandas

* Understanding basic data structures in pandas
* Loading dataset and transform to pandas dataframe
* Simple guide on data cleaning
* Summary statistics
* Descriptive analysis

### 3.1 Data Structure: Series and DataFrame

In [ ]:
# Basic data structure: Series
a = [1.1, 2.2, 3.3, 4.4]
a_series = pd.Series(a)

print "Transform List into Series: ", a_series
print "Values in the series: ", a_series.values
print "Type of values in the series: ", type(a_series.values) 
print "Index of series: ", a_series.index

b = {'one':1, 'two':2, 'three':3}
print "Transform dictionary into Series: ", pd.Series(b)

In [ ]:
# Indexing and Slicing
a_series = pd.Series(a, index=["a","b","c","d"])
print "Index of series is: ", a_series.index
print "Index b is: ", a_series["b"]

a_series['c'] = 5.5
print "Index a, c, d is: ", a_series[['a','c','d']].values
print "Values which are larger than 3: ", a_series[a_series>3].values
print "Whether series has index b: ", 'b' in a_series
print "Whether series has index f: ", 'f' in a_series

In [ ]:
# Some Useful Functions and Attributes
c = pd.Series(b, index=['one','two','three','five'])
print c
print "Which element is null value: ", c.isnull()
print "Which element is not null: ", c.notnull()

# Naming the Series and its index
c.name = 'numerical value'
c.index.name = 'character value'
print c

In [ ]:
# Basic data structure: DataFrame
# Very similar to R's data.frame
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
print frame
print "Shape of DataFrame is: ", frame.shape
print "Change the order of variables: "
print pd.DataFrame(data, columns=['year', 'state', 'pop'])
print "Change the index of variables: "
print pd.DataFrame(data, columns=['year', 'state', 'pop','new_variable'], index=['1','2','3','4','5'])

In [ ]:
# Some attributes of DataFrame
print "Columns of dataframe: ", frame.columns
print "Get variable year from dataframe: ", frame['year']
print "Another way to get variable year from dataframe: ", frame.year
print "Get multiple variables: ", frame[['year','pop']]

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop','new_variable'])
print "Get first 3 rows, first 2 columns of DataFrame: ", frame2.iloc[:3, :2]
print "Get 1st row of DataFrame: ", frame2.iloc[0]
print "Get 3rd row, 3rd column of DataFrame: ", frame2.iloc[2, 2]

In [ ]:
# Row-wise and Column-wise operations

# Modify values of variables
frame2.new_variable = 15
print frame2

frame2['new_variable'] = pd.Series([17, 19, 21], index=[0,2,4])
print frame2

frame2.iloc[2, 2] = 10
print frame2

# Delete columns
frame3 = pd.DataFrame(data, columns=['year', 'state', 'pop','new_variable'])
del frame3['new_variable']
print "Drop columns: ", frame3

# Or
frame3 = pd.DataFrame(data, columns=['year', 'state', 'pop','new_variable'])
print "Another way to drop columns: ", frame3.drop(['new_variable'], axis=1)

# Delete rows
print "Delete 4th row: ", frame3.drop([3])

In [ ]:
# Important operations and functions
frame4 = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print "frame4 is: ", frame4 

# Transpose of DataFrame
print "Transpose of DataFrame: ", frame.T

# Apply function: .apply()  .applymap()  .map()
# Superpowerful !!!
print "The range of each column is: ", frame4.apply(lambda x: x.max()-x.min(), axis=0)
print "Keep 2 decimals for each element: ", frame4.applymap(lambda x: "%.2f" % x)
print "Keep 3 decimals for column c: ", frame4['c'].map(lambda x: "%.3f" % x)

In [ ]:
# Sort dataframe
frame4 = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print frame4
print "Sort dataframe by column b and a: ", frame4.sort_index(by=['b', 'a'])

In [ ]:
# Unique values and value counts
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
print obj.unique()
print obj.value_counts()

In [ ]:
# Handling missing data
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan], [np.nan, 3, 4], [np.nan, 6.5, 3.]])
print data

# Find missing data
print "Whether dataframe has missing values: ", data.isnull()

# Drop missing values
clean = data.dropna()
print "After dropping missing values: ", clean

# Fillin missing values
fill = data.fillna(0)
print "After filling missing values: ", fill

In [ ]:
# Hierarchical Indexing
data = pd.Series(np.random.randn(10), index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'], [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
print data
print "Index b and c: ", data['b':'c']

print "Unstack the hierarchical indexing data: ", data.unstack()
print "Stack dataframe into hierarchical indexing data: ", frame4.stack()

### 3.2 Load dataset into pandas

Data Source: [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Iris)

Attribute Information:
1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
 * Iris Setosa
 * Iris Versicolour
 *  Iris Virginica

In [ ]:
# Load dataset "*.txt" or "*.csv" into python
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
colnames = ['sepal_length','sepal_width','petal_length','petal_width','class']
data.iloc[:10,]

In [ ]:
# Explore the data
data.columns = colnames
print data.head(n=10)

In [ ]:
# Simple descriptive statistics
data.describe()

In [ ]:
# Correlation table
print data.corr()

# How many unique classes
print data['class'].unique()
print data['class'].value_counts()

### 3.3 Data Cleaning: Transform, Merge, Reshape, Aggregation

In [ ]:
# Merge and Join Tables
table1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})
table2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'], 'data2': range(5)})

print "Merging Table1 and Table2: "
print pd.merge(table1, table2)
print "Merge Table1 and Table2 on column key: "
print pd.merge(table1, table2, on='key')
print "Outer Join Table1 and Table2: "
print pd.merge(table1, table2, how='outer')
print "Left Join Table1 and Table2: "
print pd.merge(table1, table2, how='left')
print "Inner Join Table1 and Table2: "
print pd.merge(table1, table2, how='inner')

In [ ]:
# Concatenating tables
table1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
table2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])
print pd.concat([table1, table2], ignore_index=True)

In [ ]:
# Reshape the data from "long" to "wide"
%pwd  #This is an Ipython magic command
data = pd.read_csv('./macrodata.csv')
data.head(n=10)

In [ ]:
periods = pd.PeriodIndex(year=data.year, quarter=data.quarter, name='date')
periods

In [ ]:
data = pd.DataFrame(data.to_records(), columns=pd.Index(['realgdp', 'infl', 'unemp'], name='item'), index=periods.to_timestamp('D', 'end'))
data.rename(columns={'infl':'inflation', 'unemp':'unemployment'}, inplace=True)
data[:10]

In [ ]:
# From wide data to long data
ldata = data.stack().reset_index().rename(columns={0: 'value'})
print ldata[:10]

In [ ]:
# Reshape long data to wide data
wdata = ldata.pivot('date', 'item', 'value')
print wdata[:10]

In [ ]:
# Remove duplicated rows
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [1, 1, 2, 3, 3, 4, 4]})
print data
print "Whether this row is duplicated: "
print data.duplicated()
print "After dropping duplicated rows: "
print data.drop_duplicates()

In [ ]:
# Create dummy variables
data = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'x': range(6)})
print "Original data: "
print data
print "Create dummies: "
print data.join(pd.get_dummies(data['key'], prefix='key'))

In [ ]:
# Group Operations
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
colnames = ['sepal_length','sepal_width','petal_length','petal_width','class']
data.columns = colnames

print data.head(5)

df = data.groupby(['class'])

In [ ]:
# Groupby: mean, size, sum, max, min,...,etc.
print "Mean by class: "
print df.mean()

print "Size for class: "
print df.size()

In [ ]:
# Interate over groups
for name, group in df:
    print "name is: ", name
    print "group is: ", group

In [ ]:
# Groupby with function
people = pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'], index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, people.columns.get_indexer(['b','c'])] = np.nan # Add a few NA values
people

In [ ]:
people.groupby(len).sum() # group by the length of the names

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

In [ ]:
# Aggregation 
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5),
                'data2' : np.random.randn(5)})
df

In [ ]:
grouped = df.groupby(['key1'])
grouped.agg(lambda x: x.max()-x.min())

In [ ]:
grouped.describe().stack()

In [ ]:
grouped.agg(['mean', 'std', lambda x: x.max()-x.min()]).stack()

In [ ]:
# Add names to different aggregation functions
grouped.agg([('Average value','mean'), ('Standard deviation','std'), ('Range',lambda x: x.max()-x.min())]).stack()

In [ ]:
# Transform values
# Example: Use mean values to replace the original values
print "Before transforming: "
print df
print "After transforming: "
print df.groupby(['key1']).transform(np.mean)

Note: If you are familiar with SQL, you may check the comparison between `Pandas` and `SQL` [here](https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html).

Note: More information about **Pandas** can be found [here](https://pandas.pydata.org/pandas-docs/stable/tutorials.html).